/* 全局樣式 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #3b36cc;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: sans-serif;
}

/* TodoWrapper component 的樣式 */
.wrapper {
  width: 450px;
  padding: 30px;
  background-color: #1a1a40;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
}

/* CreateForm component 的樣式 */
.create-form {
  height: 40px;
  width: 100%;
  margin: 25px 0px;
  border: 1px solid #3b36cc;
  display: flex;
}

/* CreateForm componenet 裡的子元素 input 和 button 的樣式 */
.create-form > input {
  outline: none;
  border: none;
  background: none;
  color: white;
  width: 100%;
  height: 100%;
  padding-left: 10px;
}
.create-form > button {
  border: none;
  background-color: #3636cc;
  color: white;
  width: 50px;
  height: 100%;
  cursor: pointer;
}

/* Todo component 的樣式 */
.todo {
  background-color: #3b36cc;
  height: 40px;
  padding: 0 10px;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Todo 裡 className=completed 要顯示的樣式 */
.completed {
  opacity: 0.4; /* 使完成的待辦事項變得半透明，表示它已經完成 */
  text-decoration: line-through 3px black; /* 添加刪除線，線條厚度為 3px，顏色為黑色 */
}
